{% extends 'base.html.twig' %}

{% block title %}Nouvel Article{% endblock %}

{% block body %}
    <h1>Modification de l'article "{{ article.titre }}"</h1>
    {{ form_start(formArticle) }}
    {{ form_row(formArticle.titre,{
        'label' : 'Titre de l\'article', 'attr' : {'placeholder':'Saisir un titre pour l\'article'}, 'help' : "Le titre doit contenir au moins 5 caractères !"
    }) }}
    {{ form_row(formArticle.contenu,{
        'label' : 'Contenu de l\'article', 'attr' : {'placeholder':'Saisir le contenu de l\'article'}, 'help' : 'Le contenu doit posséder plusieurs phrases'
    }) }}
    {{ form_row(formArticle.categorie,{
        'label' : 'Catégorie de l\'article'
    }) }}
    <div class="form-switch">
        {{ form_row(formArticle.publie,{
            'label'   : 'Publier directement l\'article'
        }) }}</div>


    <input type="submit" class="btn btn-primary mt-5" value="Modifier">
    {{ form_end(formArticle) }}
{% endblock %}

